@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

body {
	background: linear-gradient(-45deg, #F4978E, #fbc4ab7c);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.btn-default label {
	background-color: #ffffff;
	border-radius: 50%;
	gap: 2;
  
	img {
	  max-width: 5rem;
	  max-height: 5rem;
	}
}
  
.btn-default input[type="radio"] {
	opacity: 0;
	z-index: 100;
}

.btn-default input[type="radio"]:checked + label{
	cursor: pointer;
	background: #F08080;
	border-radius: 50%;
	
	img {
		max-width: 6rem;
		max-height: 6rem;
	}
}
