@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;700&display=swap");

* {
	font-family: "Poppins", sans-serif;
}

::-webkit-scrollbar {
	width: 0 !important;
}

body {
	background-image: url("../images/background.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: 100% 100%;
}

/******************* index.html *******************/
.intro {
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
	height: 45vw;

	h1 {
		font-size: 6rem;
		font-style: normal;
		font-weight: 700; // bold
		color: #9c9c9c;

		text-shadow: 10px 8px 5px #ffffff;

		display: flex;
		align-items: center;
		text-align: center;
	}

	a {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 266px;
		height: 60px;

		font-weight: 700;
		color: white;
		text-decoration: none;

		background: #6d6875;
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
		border-radius: 50px;
		border: 0;

		&:hover {
			color: white;
			background-color: #57535e;
			box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.4);
		}
	}
}

.question {
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
	height: 45vw;

	h1 {
		font-family: "Poppins";
		font-style: normal;
		font-weight: 700;
		font-size: 48px;

		display: flex;
		align-items: center;
		text-align: center;

		color: #6d6875;
	}

	.input-group {
		width: 500px;
		height: 50px;
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
		border-radius: 50px;

		.input-group-text {
		height: 50px;
		border-radius: 50px 0px 0px 50px;
		border: 0;

		img {
			width: 30px;
			height: 30px;
		}
		}

		select {
		border-radius: 0px 50px 50px 0px;
		border: 0;
		}
	}

	a {
		color: #6d6875;
		font-weight: 400;

		&:hover {
		color: #57535e;
		text-shadow: 0 0 5px #fffbf6;
		font-weight: 600;
		}
	}
}

/**************** write-entry.html ****************/
.entry {
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
	height: 47vw;

	h1 {
		font-weight: 700;
		font-size: 48px;
		line-height: 72px;

		display: flex;
		align-items: center;
		text-align: center;

		color: #6d6875;
	}

	form {
		display: flex;
		flex-flow: column;
		padding: 28px;
		width: 475px;
		height: 475px;
		row-gap: 1rem;
		background: #e2dfe0;
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
		border-radius: 50px;

		input {
			width: 420px;
			height: 68px;
			padding: 20px;
			border-radius: 25px 25px 0px 0px;
			border: 0;
			font-size: 20px;

			&:focus {
				outline: none !important;
				box-shadow: 0 0 20px #FFFBF6;
			}
		}

		textarea {
			width: 420px;
			height: 291px;
			padding: 20px;
			border: 0;

			&:focus {
				outline: none !important;
				box-shadow: 0 0 20px #FFFBF6;
			}
		}

		::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
			color: #DADADA;
			opacity: 1; /* Firefox */
		}

		.submit {
			background: #6D6875;
			box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
			border-radius: 50px;

			color: #FFFFFF;
			font-weight: 600;
			padding: 0;

			&:hover {
				color: white;
				background-color: #57535e;
				box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.4);
			}
		}
	}
}

/**************** mood-result.html ****************/

.mood-result {
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
	height: 47vw;

	h1 {
		font-weight: 700;
		font-size: 48px;
		color: #6D6875;
	}

	p {
		font-weight: 400;
		font-size: 25px;
		color: #6D6875;
	}

	.box {
		width: 475px;
		height: 336px;
		background: #E2DFE0;
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
		border-radius: 50px;
		display: flex;
		justify-content: center;

		img {
			border-radius:30px;
			height: 100%;
		}
	}

	.text {
		font-weight: 600;
		font-size: 44px;
		color: #6D6875;
		text-align: center;
	}

	a {
		color: #6d6875;
		font-weight: 400;

		&:hover {
		color: #57535e;
		text-shadow: 0 0 5px #fffbf6;
		font-weight: 600;
		}
	}

	.search {
		input {
			width: 420px;
			height: 45px;
			background: #FFFFFF;
			box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
			border-radius: 50px;
			border: 0;
			padding: 20px;

			&:focus {
				outline: none !important;
				box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
			}
		}

		button {
			border: 0;
			background-color: #EBE3E3;
			color: #6D6875;
			border-radius: 50%;
			width: 45px;
			height: 45px;
			box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
		}
	}

	.joke {
		width: 555px;
		height: 260px;
		background: #6D6875;
		border-radius: 50px;
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

		p {
			font-weight: 400;
			font-size: 20px;
			display: flex;
			align-items: center;
			text-align: justify;

			color: #FFFFFF;
		}
	}

	.link-game {
		font-size: 12px;
	}
}

/**************** get-result.html ****************/

.get-result {
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
	height: 47vw;

	h1 {
		font-weight: 700;
		font-size: 48px;
		color: #6D6875;
	}

	.user-options {
		width: 316px;
		display: flex;
		flex-flow: column;
		justify-content: center;

		.save-img-btn {
			width: 285px;
			height: 60px;
			background: #6D6875;
			box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
			border-radius: 50px;
			border: 0;
	
			font-weight: 700;
			color: #FFFFFF;

			&:hover {
				color: white;
				background-color: #57535e;
				box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.4);
			}
		}
	
		.back-home-btn {
			width: 285px;
			height: 60px;
			background: #EBE3E3;
			box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
			border-radius: 50px;
			border: 0;
	
			font-weight: 700;
			color: #6D6875;

			&:hover {
				background-color: #d8d1d1;
				box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.4);
			}
		}
	
	}

	.daily-entry {
		width: 629px;
		height: 336px;
		background: #FFFBF6;
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
		border-radius: 50px;
		padding: 30px;
		display: flex;
		flex-flow: column;
		justify-content: space-between;
	}
}